#Ignore everything in auth since those are for the CAs themselves
CAusb/auth/**

#Ignore everything in issued since those are the certificates that have been issued by this CA
CAusb/issued/**

#Ignore the current crl and crt files for this CA, the repository stores the tools not the current CA tree
CAusb/*.crl
CAusb/*.crt

#Ignore random seed file
CAusb/tools/.rnd

#Ignore archive exe
CAusb/*.exe